<div class="row">
  <div class="span12">
    <h1>Your Lucky Numbers</h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul>
      <% @lucky_numbers.each do |num| %>
        <li><%= num %></li>
      <% end %>
    </ul>
  </div>
</div>
