.lucky_number {
  border: 9px blue solid;
  border-radius: 100px;
  font-size: xx-large;
  height: 40px;
  padding-top: 15px;
  width: 45px;
}

.shadow {
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}
